<template name="Pedometer">
	<!-- {{#Popup id="pedometer"}}
		<p>This pedometer works by tracking your geolocation (not exact step count). To use it, hit start. When you do it will start tracking how far you walk on the Arboretum grounds.</p>
		<p>This information is stored only on your phone and will not be used, uploaded, viewed or distributed by anyone else.</p>
	{{/Popup}} -->

	<div class="header-spacer"></div>

	<div class="navigation pedometer">
		<div class="row">
			<h1>{{miles}} miles<br/>or<br/>{{steps}} steps</h1>
		</div>
		<div class="row">
			{{#if started}}
					<div class="btn text pedometer-stop">
						<span class="text">Stop</span>
					</div>
			{{else}}
					<div class="btn text pedometer-start">
						<span class="text">Start</span>
					</div>
			{{/if}}
			<div class="btn text pedometer-reset">
				<span class="text">Reset</span>
			</div>
		</div>
	</div>

	{{> Header pageTitle='Pedometer'}}
</template>
