<template name="Pedometer">
	<div class="header-spacer"></div>

	<div class="navigation pedometer">
		<div class="row">
			<p>You have gone approximately {{miles}} miles or {{steps}} steps</p>
		</div>
		<div class="row">
			{{#if started}}
					<div class="btn text pedometer-stop">
						<span class="text">Stop</span>
					</div>
			{{else}}
					<div class="btn text pedometer-start">
						<span class="text">Start</span>
					</div>
			{{/if}}
			<div class="btn text pedometer-reset">
				<span class="text">Reset</span>
			</div>
		</div>
	</div>

	<div id="message">
		<p>This part of the application works by tracking your geolocation. This information is stored only on your phone and will not be used, uploaded, viewed or distributed by anyone else. For the best results possibe, please keep this app running while you are counting steps. If you must use another app, do so and then return immediately to this app.</p>
	</div>

	{{> Header pageTitle='Pedometer'}}
</template>

