<template name="Observations">
	<div class="observations bg">
	</div>
	
	{{#if editing}}
		<div id="action-btns">
			<div class="obs close">Cancel</div>
			<div class="obs save">Save</div>
			<div class="obs delete">Delete</div>
			<div class="obs picture">+ Picture</div>
		</div>
		{{#with openNote}}
			<div class="note-expanded">
				<h1 contentEditable="true">{{title}}</h1>
				<div class="content" contentEditable="true">{{content}}</div>
			</div>
		{{/with}}
	{{else}}
		<div class="obs add">
			<div class="text">+</div>
		</div>
		<div>
			{{#each notes}}
				<div class="note-compact" data-id={{_id}}>
					<h1>{{title}}</h1>
					<p>Created {{created this}}</p>
				</div>
			{{/each}}
		</div>
	{{/if}}
</template>

