<template name="Observations">
	<div class="observations bg">
	</div>
	
	<div>
		<h3>Observations</h3>
	</div>
	<button class="show-all">Show {{#if showAll}}just today's{{else}}all{{/if}}</button>
	<button class="edit">Edit</button>
	{{#each observations}}
		<div class="well">
			{{content}}
			{{#if editMode}}
				<button type="button" class="delete btn btn-default" data-id="{{_id}}">Delete</button>
			{{/if}}
		</div>
	{{/each}}
	{{#unless showAll}}
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Write something you've observed..."/>
			<span class="input-group-btn">
				<button type="button" class="record btn btn-default">Record</button>
			</span>
		</div>
	{{/unless}}
</template>

