<template name="Observations">
	{{#Popup id="obvservations"}}
		<p>Documenting your experiences is a very powerful way to grow closer to nature. Even three simple observations will help you appreciate what is around you.</p>
		<p>This observation diary is a place to record meaningful moments in nature. You can write about and even include the pictures you've taken all in one place.</p>
		<p>The information you enter here is stored only on your phone and will not be used, uploaded, viewed or distributed by anyone else. Feel free to write about anything you would like.</p>
	{{/Popup}}
	
	<div class="header-spacer"></div>

	<div class="obs add">
		<div class="text">+</div>
	</div>
	<div>
		{{#each notes}}
			<div class="note-compact" data-id={{_id}}>
				<h1>{{title this}}</h1>
				<p>Created {{created this}}</p>
				<div class="button open-observation">Open</div>
			</div>
		{{/each}}
	</div>

	{{> Header pageTitle='Observations'}}
</template>

<template name="EditObservation">
	<div class="header-spacer"></div>

	<div id="action-btns">
		<div class="obs close">Cancel</div>
		<div class="obs save">Save</div>
		<div class="obs delete">Delete</div>
		<div class="obs picture">Picture</div>
	</div>
	<div>
		{{#with openNote}}
			<div class="note-expanded">
				<div class="content" contentEditable="true">{{content}}</div>
				{{#each photos}}
					<img class="photo" src="{{uri}}"/>
				{{/each}}
			</div>
		{{/with}}
	</div>

	{{> Header pageTitle='Observations'}}
</template>

