.observations.bg {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url("/paper.jpg");
	z-index: -1;
}

button.add {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 1;
}

.note-compact {
	border-bottom: 1px solid black;
}

.note-compact * {
	pointer-events: none;
}

.note-compact h1,p {
	margin: 0;
}

.note-compact h1:empty::after {
	content: 'Untitled';
}

.note-expanded h1:empty::after {
	content: 'Untitled';
}

.note-expanded div.content:empty::after {
	content: "Write about something you've observed or attach an image"
}

.note-expanded h1:focus::after {
	color: gray;
}

.note-expanded div.content:focus::after {
	color: gray;
}

.note-compact:last-child {
	border: none;
}

