.leaf {
	display: block;
	font-size: 2em;
}

.leaf.back-btn {
	background-image: url("leaves/Leaf10.png");
	background-size: 200px;
	position: absolute;
	width: 200px;
	height: 200px;
	bottom: -70px;
	right: -60px;
}

.leaf.back-btn .text {
	position: relative;
	left: 50px;
	top: 70px;
	color: white;
}

.leaf.map-btn {
	background-image: url("leaves/Leaf2.png");
	background-size: 200px;
	width: 200px;
	height: 200px;
	position: absolute;
	left: -20px;
	top: -10px;
}

.leaf.map-btn .text {
	color: white;
	position: relative;
	left: 65px;
	top: 80px;
}

.leaf.observations-btn {
}

.leaf.observations-btn .text {
}

.leaf.identification-btn {
}

.leaf.identification-btn .text {
}

.leaf.art-btn {
}

.leaf.art-btn .text {
}

.navigation a {
	text-decoration: none;
}

