.leaf {
	display: block;
	font-size: 2em;
}

.leaf .text {
	color: white;
}

.leaf.back-btn {
	background-image: url("leaves/Leaf10Small.png");
	background-size: 200px;
	position: fixed;
	width: 200px;
	height: 200px;
	bottom: -70px;
	right: -60px;
}

.leaf.back-btn .text {
	position: relative;
	left: 50px;
	top: 70px;
	color: white;
}

.leaf.map-btn {
	background-image: url("/leaves/Leaf1.png");
	background-size: 200px;
	width: 200px;
	height: 200px;
	position: fixed;
	left: -20px;
	top: -20px;
}

.leaf.map-btn .text {
}

.leaf.observations-btn {
	background-image: url("/leaves/Leaf2.png");
	background-size: 200px;
	width: 200px;
	height: 300px;
	position: fixed;
	right: -20px;
	top: -60px;
}

.leaf.observations-btn .text {
}

.leaf.identification-btn {
	background-image: url("/leaves/Leaf9.png");
	background-size: 200px;
	width: 200px;
	height: 200px;
	position: fixed;
	left: -20px;
	bottom: -60px;
}

.leaf.identification-btn .text {
}

.leaf.art-btn {
	background-image: url("/leaves/Leaf11.png");
	background-size: 50vw;
	width: 50vw;
	height: 50vh;
	position: fixed;
	right: 0;
	bottom: 0;
}

.leaf.art-btn .text {
}

.navigation a {
	text-decoration: none;
}

.logo-corner {
	position: relative;
	width: 50px;
	height: 50px;
	left: 85px;
	top: -20px;
}

