.leaf {
	display: block;
	font-size: 2em;
}

.leaf .text {
	display: inline-block;
	color: white;
	position: relative;
	pointer-events: auto;
}

.leaf {
	pointer-events: none;
}

.leaf.back-btn {
	background-image: url("leaves/Leaf10Small.png");
	background-size: 200px;
	position: fixed;
	width: 200px;
	height: 200px;
	bottom: -70px;
	right: -60px;
	pointer-events: auto;
}

.leaf.back-btn .text {
	left: 50px;
	top: 50px;
}

.leaf.map-btn {
	background: url("/leaves/Leaf1.png") no-repeat center top;
	background-size: 200px;
	width: 100vw;
	height: 200px;
	position: fixed;
	bottom: 100px;
}

.leaf.map-btn .text {
	left: 130px;
	top: 120px;
	transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
}

.leaf.observations-btn {
	background-image: url("/leaves/Leaf2.png");
	background-size: 300px;
	width: 300px;
	height: 200px;
	position: fixed;
	right: -80px;
	bottom: -40px;
}

.leaf.observations-btn .text {
	text-align: center;
	font-size: 0.75em;
	left: 80px;
	top: 80px;
	transform: rotate(17deg);
}

.leaf.identification-btn {
	background-image: url("/leaves/Leaf9Small.png");
	background-size: 250px;
	width: 250px;
	height: 250px;
	position: fixed;
	left: -40px;
	bottom: -70px;
}

.leaf.identification-btn .text {
	font-size: 0.75em;
	left: 55px;
	top: 110px;
	transform: rotate(-5deg);
}

.leaf.art-btn {
	background-image: url("/leaves/Leaf11.png");
	background-size: 50vw;
	width: 50vw;
	height: 50vh;
	position: fixed;
	right: 0;
	bottom: 0;
}

.leaf.art-btn .text {
}

.navigation a {
	text-decoration: none;
}

.logo-corner {
	position: relative;
	width: 50px;
	height: 50px;
	top: 20px;
}

