/* CSS declarations go here */

@font-face {
	font-family: 'Copse';
	font-style: normal;
	font-weight: 400;
	src: local('Copse'), url('/Copse.ttf') format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html {
	-webkit-touch-callout: none;
	font-family: 'Copse';
	width: 100vw;
	height: 100vh;
	/*background: url('/background.jpg') center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	z-index: -2;
	top: 0;
	left: 0;
}

.mute {
	width: 100vw;
	height: 100vh;
	background-color: rgba(115,189,219, 0.5);
}

.container {
	margin: 70px 10px 10px 10px;
	padding: 10px;
	box-shadow: 0 0 5px black;
	background-color: rgba(255, 255, 255, 0.75);
}

.map-container {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
}

#map {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
}

.logo-corner {
	width: 100px;
}

.panel-body {
	word-wrap: break-word;
}

.panel-body h3 {
	margin: 0;
}

.header-spacer {
	height: 60px;
}

div.button {
	background-color: #0c8a3b;
	box-shadow: 0 3px 5px black;
	display: inline-block;
	padding: 10px;
	border-radius: 5px;
	position: absolute;
	color: black;
}
