/* CSS declarations go here */
@font-face {
	font-family: HumanNature;
	src: url('/HumanNature.ttf');
}

.map-container {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
}

#map {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
}

.logo {
	border-radius: 100%;
	background-color: #5665fe;
	box-shadow: 0 0 20px black;
}

.logo-corner {
	position: fixed;
	max-width: 100px;
	max-height: 100px;
	width: 30vw;
	left: 0;
	bottom: 0;
}

.panel-body {
	word-wrap: break-word;
}

.panel-body h3 {
	margin: 0;
}

.splash {
	width: 100vw;
	height: 100vh;
	background: url('/splash.jpg') center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.logo-splash {
	width: 50vw;
	height: 50vw;
	max-width: 30vh;
	max-height: 30vh;
	display: block;
	position: relative;
	top: 50px;
	margin: 0 auto 0;
}

.splash-enter {
	position: absolute;
	top: 50vh;
	width: 100%;
	text-align: center;
	font-size: 50px;
	font-family: HumanNature;
}

.splash-enter a {
	font-size: 20px;
}

.btn {
	background-color: salmon;
	box-shadow: 0 0 10px black;
}

.btn.btn-back {
	border-radius: 100%;
	position: fixed;
	text-align: center;
	max-width: 100px;
	max-height: 100px;
	width: 30vw;
	height: 30vw;
	bottom: 0;
	right: 0;
}

