.splash {
	position: absolute;
	top: 50vh;
	width: 100%;
	text-align: center;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.splash h1 {
	text-shadow: 0 0 20px white;
	margin: 0;
}

