.splash-outer a {
	text-decoration: none;
	color: black;
}

.splash-inner {
	position: absolute;
	top: 50vh;
	width: 100%;
	text-align: center;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.splash h1 {
	margin: 20px;
}

.splash-bg {
	width: 100vw;
	height: 100vh;
	background: url('/background.jpg') center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
