<template name="MLA">
	<div class="navigation information">
		<div class="row">
			<div class="btn">
				<a href="http://arboretum.umn.edu/gardensandcollections.aspx">
					<img src="/gardens.png"/>
				</a>
			</div>
		</div>

		<div class="row">
			<div class="btn">
				<a href="http://arboretum.umn.edu/eventsprograms.aspx">
					<img src="/events.png"/>
				</a>
			</div>

			<div class="btn">
				<a href="http://arboretum.umn.edu/planyourvisit.aspx">
					<img src="/plan.png"/>
				</a>
			</div>
		</div>

	</div>
	<center>
		<p>This application has been created for the Nature Based Therapeutics department at the University of Minnesota. You can learn more about Nature Based Therapeutics <a href="http://arboretum.umn.edu/planyourvisit.aspx">here</a>.
		</p>
	</center>
</template>
