<template name="Mla">
	<div class="navigation information">
		<div class="row">
			<a class="system-browser" href="http://arboretum.umn.edu/gardensandcollections.aspx">
				<div class="btn">
					<span class="text">Gardens and Collections</span>
				</div>
			</a>
		</div>

		<div class="row">
			<a class="system-browser" href="http://arboretum.umn.edu/eventsprograms.aspx">
				<div class="btn">
					<span class="text">Events and Programs</span>
				</div>
			</a>

			<a class="system-browser" href="http://arboretum.umn.edu/planyourvisit.aspx">
				<div class="btn">
					<span class="text">Plan Your Visit</span>
				</div>
			</a>
		</div>

		<div class="row">
			<a class="system-browser" href="http://arboretum.umn.edu/planyourvisit.aspx">
				<div class="btn">
					<span class="text">Nature<br/>Based Therapeutic Services</span>
				</div>
			</a>
		</div>
	</div>

	{{> Header pageTitle='Information'}}
</template>

