<template name="MLA">
	<div class="navigation information">
		<div class="row">
			<div class="btn">
				<a href="http://arboretum.umn.edu/gardensandcollections.aspx">
					<img src="/gardens.png"/>
				</a>
			</div>
		</div>

		<div class="row">
			<div class="btn">
				<a href="http://arboretum.umn.edu/eventsprograms.aspx">
					<img src="/events.png"/>
				</a>
			</div>

			<div class="btn">
				<a href="http://arboretum.umn.edu/planyourvisit.aspx">
					<img src="/plan.png"/>
				</a>
			</div>
		</div>

	</div>

	<p class="information text">You can learn more about the Nature-Based Therapeutic Services at the Minnesota Landscape Arboretum <a href="http://arboretum.umn.edu/planyourvisit.aspx">here</a>.
	</p>
	<div class="credit box">
		<p class="information credit">Application built by Soren Peterson</p>
		<p class="information credit">Artistic content illustrated by Lisa Erickson</p>
	</div>
</template>
