.information.text {
	padding: 10px;
}

.credit.box {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
}

.navigation.information {
	transform: translateY(-45%);
	-webkit-transform: translateY(-45%);
}

div.information-page.info-box {
	text-align: center;
	position: absolute;
	font-size: 0.8em;
	bottom: 20px;
}
