.treelist a {
	text-decoration: none;
	color: black;
}

.treelist h2 {
	margin: 0;
	padding: 10px;
	border-bottom: 1px solid black;
}

.navigation.trees {
	bottom: 200px;
}

.trees-back {
	color: black;
}

.trees-back-text {
	margin: 0;
}

