<template name="Trees">
	<p>
		This a copy of the MN DNR's tree identification information. To start, pick whether the tree is deciduous or coniferous, or enter search terms in the box below.
	</p>
	
	<div class="navigation trees">
		<div class="row">
			<a href="/trees/type/deciduous">
				<div class="btn-container">
					<img class="btn" src="/deciduous.png"/>
					<div class="btn-label">Deciduous</div>
				</div>
			</a>

			<a href="/trees/type/coniferous">
				<div class="btn-container">
					<img class="btn" src="/coniferous.png"/>
					<div class="btn-label">Coniferous</div>
				</div>
			</a>
		</div>
	</div>

	<div>
		<form>
			<input type="text"/>
			<input type="submit"/>
		</form>
	</div>
</template>

<template name="TreeList">
	<a href="/trees">
		<div class="header">
			Back
		</div>
	</a>

	<div class="header-spacer">
	</div>

	<div class="treelist">
		{{#each trees}}
			<a href="/trees/tree/{{this._id}}"><h2>{{name}}</h2></a>
		{{/each}}
	</div>
</template>

<template name="SingleTree">
<a href="{{back}}">
		<div class="header">
			Back
		</div>
	</a>

	<div class="header-spacer">
	</div>

	{{#with tree}}
		<h2>{{name}}</h2>
		<h3>
			Form
		</h3>
		<p>
			{{form}}
		</p>
		<h3>
			Bark
		</h3>
		<p>
			{{bark}}
		</p>
		<h3>
			Leaf
		</h3>
		<p>
			{{leaf}}
		</p>
		<h3>
			Fruit
		</h3>
		<p>
			{{fruit}}
		</p>
		<h3>
			Range
		</h3>
		<p>
			{{range}}
		</p>
	{{/with}}
</template>

