.treelist a {
	text-decoration: none;
	color: black;
}

.treelist h2 {
	margin: 0;
	padding: 10px;
	border-bottom: 1px solid black;
}

.navigation.trees {
	top: initial;
	bottom: 0px;
}

.navigation.trees form {
	margin-top: 30px;
}

.trees-back {
	color: black;
}

.trees-back-text {
	margin: 0;
}

.dichotomous-container .btn.text span.text {
	pointer-events: none;
}

