<template name="Birds">
	<div id="message">
		<p>Nature offers wondrous variety to the senses. Observe the birds around you and learn more about them using the Audubon's "Guide to North American Birds". You will be leaving this application. At any time you can hit "done" to return to this application. This website will help you identify birds through pictures, sounds and other characteristics of the birds.</p>
		<a class="in-app-browser" href="https://www.audubon.org/field-guide">
			<div class="button go">Go to external site</div>
		</a>
		<a href="/home">
			<div class="button back">Go back</div>
		</a>
	</div>
</template>

