<template name="Home">
	<div  class="home title">
		<h1>Nature Heals</h1>
		<p>A connection to nature is essential for health and wellbeing. Discover the healing power of Nature at the Minnesota Landscape Arboretum.</p>
	</div>

	<div class="navigation">
		<div class="row">
			<a href="/map">
				<img class="btn" src="/mapicon.png"/>
			</a>

			<a href="/observations">
				<img class="btn" src="/diaryicon.png"/>
			</a>
		</div>

		<div class="row">
			<a href="/mla">
				<img class="btn" src="/mla.png"/>
			</a>

			<a href="/art">
				<img class="btn logo" src="/logo.png"/>
			</a>

			<a href="/pedometer">
				<img class="btn" src="/footicon.png"/>
			</a>
		</div>

		<div class="row">
			<a href="/birds">
				<img class="btn bird-field-guide" src="/birdicon.png"/>
			</a>

			<a href="/trees">
				<img class="btn" src="/treeicon.png"/>
			</a>
		</div>
	</div>

	<div class="credit box">
		<p class="information credit">Application built by Soren Peterson</p>
		<p class="information credit">Artistic content illustrated by Lisa Rydin Erickson</p>
	</div>
</template>

