.navigation {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	vertical-align: top;
	width: 100%;
}

.navigation .row {
	text-align: center;
}

.navigation .row a {
	text-decoration: none;
}

.navigation .btn-container {
	display: inline-block;
}

.navigation .btn {
	width: 20vh;
	height: 20vh;
	display: inline-block;
	border-radius: 100%;
	box-shadow: 0 2px 4px black;
	vertical-align: top;
	text-align: center;
	margin: 0 1vw;
	background-color: #0c8a3b;
	background-size: contain;
}

.navigation.home .btn {
	width: 25vw;
	height: 25vw;
	/*max-width: 15vh;
	max-height: 15vh;*/
}

.navigation .btn.corner {
	position: relative;
	top: 15vw;
	margin-left: -5vw;
	margin-right: -5vw;
}

.navigation .btn.logo {
	width: 60vw;
	height: 60vw;
	/*max-width: 40vh;
	max-height: 40vh;*/
	background-image: url(/dogcommons.png);
}

.navigation .btn.mla {
	background-image: url(/mla.png)
}

.navigation .btn.map {
	background-image: url(/mapicon.png)
}

.navigation .btn.diary {
	background-image: url(/diaryicon.png)
}

.navigation .btn.foot {
	background-image: url(/footicon.png)
}

.navigation .btn.text {
	background-color: rgba(255, 255, 255, 0.75);
}

.navigation .btn-label {
	position: relative;
	top: 10px;
	color: black;
}

.navigation .btn-label a {
	color: black;
}

.navigation .btn a,span.text {
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	color: black;
	text-decoration: none;
}

.home.quote {
	position: absolute;
	bottom: 0;
	text-align: center;
	font-weight: normal;
	width: 100%;
}

.home.title {
	font-weight: normal;
	position: absolute;
	text-align: center;
	width: 100%;
}

.home.title p {
	font-size: 0.8em;
}

.home.title * {
	margin: 0;
}

.credit.box p.information.credit {
	font-size: 0.8em;
}

.credit.box p.information.credit:last-child {
	padding-bottom: 10px;
}
