<template name="Home">
	<div class="navigation">
		<div class="map-btn leaf animated fadeIn">
			<a href="/map">
				<div class="text">Map</div>
			</a>
		</div>
		<div class="observations-btn leaf animated fadeIn">
			<a href="/observations">
				<div class="text">Observations<br/>Diary</div>
			</a>
		</div>
		<div class="identification-btn leaf animated fadeIn">
			<a href="/identification">
				<div class="text">Identification</div>
			</a>
		</div>
		<!-- <div class="art-btn leaf animated fadeIn">
			<a href="/Art">
				<div class="text">3030 Art</div>
			</a>
		</div> -->
	</div>
</template>

