.navigation {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	vertical-align: top;
	width: 100%;
}

.navigation .row {
	text-align: center;
}

.navigation .row a {
	text-decoration: none;
}

.navigation .btn-container {
	display: inline-block;
}

.navigation .btn {
	width: 30vw;
	height: 30vw;
	max-width: 20vh;
	max-height: 20vh;
	display: inline-block;
	border-radius: 100%;
	box-shadow: 0 2px 4px black;
	vertical-align: top;
	text-align: center;
	margin: 0 1vw;
	background-color: #7be7d8;
}

.navigation.home .btn {
	width: 20vw;
	height: 20vw;
	max-width: 15vh;
	max-height: 15vh;
}

.navigation .btn.corner {
	position: relative;
	top: 10vw;
}

.navigation .btn.logo {
	background-color: #5665fd;
	width: 60vw;
	height: 60vw;
	max-width: 40vh;
	max-height: 40vh;
}

.navigation .btn.text {
	background-color: rgba(255, 255, 255, 0.75);
}

.navigation .btn-label {
	position: relative;
	top: 10px;
	color: black;
}

.navigation .btn-label a {
	color: black;
}

.navigation .btn a,span.text {
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	color: black;
	text-decoration: none;
}

.home.quote {
	position: absolute;
	bottom: 0;
	text-align: center;
	font-weight: normal;
	width: 100%;
}

.home.title {
	font-weight: normal;
	position: absolute;
	text-align: center;
	width: 100%;
}

.home.title p {
	font-size: 0.8em;
}

.home.title * {
	margin: 0;
}

.credit.box p.information.credit {
	font-size: 0.8em;
}

.credit.box p.information.credit:last-child {
	padding-bottom: 10px;
}
