<template name="Home">
	<div  class="home title">
		<h1>Nature Heals</h1>
		<p>A connection to nature is essential for health and wellbeing. Discover the healing power of Nature at the Minnesota Landscape Arboretum's</p>
		<h3>Dog Commons</h3>
	</div>

	<div class="navigation home">
		<div class="row">
			<a href="/mla" class="btn corner animated bounceInLeft mla"></a>

			<a href="/map" class="btn animated bounceInDown map"></a>

			<a href="/observations" class="btn animated bounceInDown diary"></a>

			<a href="/pedometer" class="btn corner animated bounceInRight foot"></a>
		</div>

		<div class="row">
			<a href="/art" class="btn logo animated bounceInUp"></a>
		</div>
	</div>

	<div class="credit box">
		<p class="information credit">Application built by Soren Peterson</p>
		<p class="information credit">Artistic content illustrated by Lisa Rydin Erickson</p>
	</div>
</template>
